$sand-img: url('static/images/sand.png');
$sun-img: url('static/images/sun.png');
$stars-img: url('static/images/stars.png');

.app-container {
  height: 100%;
  background: hsl(190deg, 100%, 40.8%);

  background-image: $sun-img;
  background-position: 40vw 0vh;
  background-size: 20vw;
  background-repeat: no-repeat;

  .star-container {
    background-image: $stars-img;
    background-position: cover;
    background-repeat: no-repeat;
    background-position-y: 700px;
    height: 100%; 

      .background-container {
        height: 100%;
        background-image: $sand-img;
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    
        .flex-grid {
          height: 100%;
          display: flex;
          
          .col {
            height: 60%;
            flex: 1;
            margin: auto;
          }
          
        }
      
        .timezone-container {
          padding: 120px 0;
          text-align: center;
          justify-content: center;
          

          h2 {
            margin-bottom: 0px;
            margin-top: 0px;
          }

          .london-timezone {
            background-color: white;
            background-size: 60%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            box-shadow: 0 30px 40px rgba(0,0,0,.1);

            h2 {
              background: -webkit-linear-gradient(bottom, #012169 40%, #eee 20%, #C8102E 30%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          .vancouver-timezone {
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0 30px 40px rgba(0,0,0,.1);

            h2 {
              background: -webkit-linear-gradient(#ec8d8d, #d24545, #bd0c0c);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }    
      }
  }
  
  
  
  @media (max-width: 768px) {
    background-size: 45vw;
    background-position: 27vw 0vh;

    .star-container {
      .background-container {
        background-position: bottom;
        background-size: contain;
        
        .flex-grid {
          display: block;
    
          .col {
            height: 50%;
            flex: 1;
            margin: auto;
          }
        }
      }
    }
  }
}