.updates-footer {
    background-color: #c4cace;
    border-top: 2px solid #909ea8;
    border-radius: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0px;
    left: 0.1px;

    .updates-footer-flex {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 0px;
        
        textarea {
            font-family: inherit;
        }

        .textarea { 
            text-align: left;
            width: 95%;
            resize: none;
            font-size: 1.5vw;
            min-height: 50px;
            background-color: inherit;
            height: auto;
            margin: auto 2px auto 2px;
            border: none;

            @media (min-width: 1400px) {
                font-size: 1.2vw; 
            }

            @media (min-width: 1500px) {
                font-size: 1vw;
            }

            @media (max-width: 768px) {
                font-size: 3vw;
            }
        }

        .textarea:focus {
            outline: none;
            font-family: inherit;
        }

        input {
            float: left;
            margin-left: 1px;
            font-size: 1.5vw;
            width: 98%;
            background-color: inherit;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-top: none;
            border-right: none;
            border-left: none;

            @media (min-width: 1400px) {
                font-size: 1.2vw; 
            }

            @media (min-width: 1500px) {
                font-size: 1vw; 
            }

            @media (max-width: 768px) {
                font-size: 3vw;
            }
        }
        input:focus{
            outline: none !important;
        }

    }

    .updates-footer-submit {
        display: flex;
        justify-content: flex-end;
        margin: auto 6px 6px auto;
        position: relative;

        #status-submit-button {
            border: 1.5px solid black;
            background-color: #64b8cf;
            border-radius: 5px;
        }

        #status-submit-button:hover {
            background-color: #86c5d6;
        }

        #status-submit-button:disabled {
            background-color: #59a3b8; // disabled
        }
    }
}